ng-template('#slides'='')
    section
        slide-with-header(header="Was ist Machine Learning")
    section
        slide-with-header(header="Wo ist Machine Learning")
            img(src="/assets/images/machine-learning/where.png").img-fluid
    section
        slide-with-header(header="Was ist \"Learning\"")
            ul
                li.fragment #[span.highlight Wann] wird gelernt
                    ul
                        li Offline Learning
                        li (Online Learning)
                li.fragment #[span.highlight Wie] wird gelernt
                    ul
                        li Supervised Learning (Tag 1 und Tag 2)
                        li Unsupervised Learning (Tag 3)
                        li (Reinforcement Learning)
    section
        slide-with-header(header="Wann wird gelernt")
            p Offline Learning
    section
        slide-with-header(header="Machine Learning im CAS")
            p TODO


