ng-template('#slides'='')
    section
        section Vertical Slide
        section Vertical Slide
            knowledge-view
        section Vertical Slide
            p.fragment.grow grow
            p.fragment.shrink shrink
            p.fragment.fade-out fade-out
            p.fragment.fade-up fade-up (also down, left and right!)
            p.fragment.fade-in-then-out fades in, then out when we move to the next step
            p.fragment.fade-in-then-semi-out fades in, then obfuscate when we move to the next step
            p.fragment.highlight-current-blue blue only once
            p.fragment.highlight-red highlight-red
            p.fragment.highlight-green highlight-green
            p.fragment.highlight-blue highlight-blue
        question-slide

