ng-template('#slides'='')
    section
        slide-with-header(header="Was ist ein Modell?")
            supervised-model-visualization(input-label="TicTacToe", model-label="f", output-label="Zug")
            // supervised-model-visualization(input-label="Schach", model-label="f", output-label="Zug")
            // supervised-model-visualization(input-label="Haus", model-label="f", output-label="Verkaufspreis")
    section
        slide-with-header(header="Was ist Machine Learning")
            p.fragment Wenn das #[span.highlight Modell] für uns Menschen intelligent erscheint, dann sprechen wir von #[span.highlight Künstlicher Intelligenz].
            p.fragment Das Modell kann #[span.highlight programmiert] sein (von Experten) oder (teils) #[span.highlight gelernt] (von Daten).
            p.fragment Ist das Modell gelernt sprechen wir von #[span.highlight Machine Learning!]
    section
        slide-with-header(header="Wissens Ansicht")
            div
                p.fragment Wissen kann von #[span.highlight Experten] oder von #[span.highlight Daten] kommen
            knowledge-view("#knowledgeView"="").fragment
            span.fragment(fragment-trigger, "(trigger)"="knowledgeView.start()", "(untrigger)"="knowledgeView.end()")
    section
        slide-with-header(header="Wissens Ansicht - Trade-off")
            div(style={transform:"scale(0.65)"})
                div.d-flex.justify-center
                    knowledge-view("#tradeOff1"="", [showHeader]="false", [tradeoff]="0.1")
                    knowledge-view("#tradeOff2"="", [showHeader]="false", [tradeoff]="0.5")
                    knowledge-view("#tradeOff3"="", [showHeader]="false", [tradeoff]="0.9")
                    span.fragment(
                        fragment-trigger,
                        "(trigger)"="tradeOff1.start(); tradeOff2.start(); tradeOff3.start()",
                        "(untrigger)"="tradeOff1.end(); tradeOff2.end(); tradeOff3.end()"
                    )
    section
        slide-with-header(header="Wo ist Machine Learning")
            img(src="/assets/images/machine-learning/where.png").img-fluid
    section
        slide-with-header(header="Was ist \"Learning\"")
            ul
                li.fragment #[span.highlight Wann] wird gelernt
                    ul
                        li Offline Learning
                        li (Online Learning)
                li.fragment #[span.highlight Wie] wird gelernt
                    ul
                        li Supervised Learning (Tag 1 und Tag 2)
                        li Unsupervised Learning (Tag 3)
                        li (Reinforcement Learning)
    section(id="current")
        slide-with-header(header="Wann wird gelernt")
            div.text-start
                ul.fragment
                    li #[span.highlight Offline Learning]
                        ul
                            li Es gibt eine #[span.highlight Lernphase], während dieser wird von Daten gelernt.
                            li Und es gibt eine #[span.highlight Anwendungsphase], während dieser wird #[span.highlight nichts mehr] gelernt.
                ul.pt-5.fragment.not-in-course
                    li #[span.highlight Online Learning]
                        ul
                            li Während der #[span.highlight Anwendung] wird gelernt
                p.fragment.text-center.alert.alert-primary Im Kurs nutzen wir nur #[span.highlight Offline Learning]!
    section
        slide-with-header(header="Machine Learning im CAS")
            p TODO


