ng-template('#slides'='')

    section
        slide-with-header(header="Clustering")
            div Ziel: Finde zusammenhängende Gruppen in Datenwolke.
            img.mt-5(src="assets/images/clustering/merge3cluster.jpg")