ng-template('#slides'='')
    section
        title-page
            h1 Intro
    section
        slide-with-header(header="Über mich")
            ul
                li Benjamin Meyer (Beni)
                li Unterrichte Machine Learning in CAS Data Science
                li Bachelor in Computer Science an der FHNW
                li 1 Jahr Wissenschaftlicher Assistent an der FHNW
                li Masterstudent Universität Basel
                li
                    div Arbeite bei keeValue AG als Data Scientist:
                    div Machine Learning mit kleinen und mittel grossen Datensätzen
    section
        slide-with-header(header="Über die Slides")
            .row.mt-3
                .col-4.text-start
                    .d-flex.justify-center.align-center.h-100.w-100
                        b New
                .col-8.text-start Erstes Semester mit neuen Slides!
            .row.mt-3.border-top.pt-3
                .col-4.text-start
                    .d-flex.justify-center.align-center.h-100.w-100
                        img(src="assets/images/layout/extra-stamp.png").img-fluid
                .col-8.text-start Slide behandelt fortgeschrittenes Thema. Sollte (!) nicht an der Prüfung kommen.
            .row.mt-3.border-top.pt-3
                .col-4.text-start
                    .d-flex.justify-center.align-center.h-100.w-100
                        img(src="assets/images/code.png").img-fluid
                .col-8.text-start Slide verweist auf Code-Beispiel
            .row.mt-3.border-top.pt-3
                .col-4.text-start
                    .d-flex.justify-center.align-center.h-100.w-100
                        img(src="assets/images/github.png").img-fluid
                .col-8.text-start https://github.com/benikm91/cas_machine-learning-slides
