ng-template('#slides'='')
    section
        title-page
            h1 Intro
    section
        slide-with-header(header="Über mich")
            ul
                li Benjamin Meyer (Beni)
                li Bachelor in Computer Science an der FHNW
                li 1 Jahr Wissenschaftlicher Assistent an der FHNW
                li Master mit Vertiefung Machine Learning an der Universität Basel
                li
                    div Arbeitete bei keeValue AG als Data Scientist:
                    div Machine Learning mit kleinen und mittel grossen Datensätzen
                li
                    div PhD Candidate bei ZHAW (Center of AI)
                    div Forschungsprojekte im Bereich Deep Learning
    section
        slide-with-header(header="4 Tage Machine Learning")
            .row.mt-3
                .col-4.text-start
                    b Tag 1
                .col-8.text-start Einführung, Regression, Gradient Descent, Feature Preprocessing & Engineering
            .row.mt-3.border-top.pt-3
                .col-4.text-start
                    b Tag 2
                .col-8.text-start Klassifikation, weitere Algorithmen
            .row.mt-3.border-top.pt-3
                .col-4.text-start
                    b Tag 3
                .col-8.text-start Clustering, Dimensionality Reduction
            .row.mt-3.border-top.pt-3
                .col-4.text-start
                    b Tag 4
                .col-8.text-start Review, Neural Network, Diskussion
    section
        slide-with-header(header="Programmieren! Programmieren! Programmieren!")
            img(src="assets/images/code.png")
            .row.mt-3
                .col-4.text-start
                    b Code-Beispiele
                .col-8.text-start Fertiges minimales #[span.highlight Beispiel]
            .row.mt-3.border-top.pt-3
                .col-4.text-start
                    b Übungen
                .col-8.text-start Gelerntes an #[span.highlight einfachem Problemfall] selbst anzuwenden
            .row.mt-3.border-top.pt-3
                .col-4.text-start
                    b ML-Lab
                .col-8.text-start Gelerntes an #[span.highlight echtem Problemfall] selbst anwenden
    section
        slide-with-header(header="Programmieren! Programmieren! Programmieren!")
            img(src="assets/images/code-used-frameworks.png")
    section
        slide-with-header(header="Über die Slides")
            .row.mt-3.border-top.pt-3
                .col-4.text-start
                    .d-flex.justify-center.align-center.h-100.w-100
                        img(src="assets/images/layout/extra-stamp.png").img-fluid
                .col-8.text-start Slide behandelt fortgeschrittenes Thema. Sollte (!) nicht an der Prüfung kommen.
            .row.mt-3.border-top.pt-3
                .col-4.text-start
                    .d-flex.justify-center.align-center.h-100.w-100
                        img(src="assets/images/code.png").img-fluid
                .col-8.text-start Slide verweist auf Code-Beispiel
            .row.mt-3.border-top.pt-3
                .col-4.text-start
                    .d-flex.justify-center.align-center.h-100.w-100
                        img(src="assets/images/github.png").img-fluid
                .col-8.text-start https://github.com/benikm91/cas_machine-learning-slides
