ng-template('#slides'='')
    section
        title-page
            h1 Tag 1
            div Einführung, Regression, Gradient Descent, Feature Preprocessing & Engineering
            img.mt-5(src="assets/images/logo/fhnw/fhnw_logo.png" width="200px")