.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;

  .first {
    width: 300px;
  }
  .second {
    width: 300px;
  }
  .third {
    width: 300px;
  }
}