ng-template('#slides'='')
    section
        slide-with-header(header="Data Science Pitfall - Inconsistent preprocessing")
            div.text-start Alle #[span.highlight Feature Preprocessing Schritte] müssen #[span.highlight identisch] ausgeführt werden für Train-Set, Validation-Set und Test-Set.
            hr
            div.notebook-name inconsistent-preprocessing.ipynb
            img(src="assets/images/code.png")
            hr
            div.text-start [Alternative Quelle]: #[a(href="https://scikit-learn.org/stable/common_pitfalls.html#inconsistent-preprocessing") sklearn User Guide]

