ng-template('#slides'='')
    section
        slide-with-header(header="{{problemTableOfContentLabel.SUPERVISED_LEARNING.label}}")
            div
                div
                    span
                        | Daten unterteilt in #[span.fragment.highlight-red Input und dazugehörende Output] (unabhängige und abhängige Variablen)
            div.fragment.fade-up.pt-5.d-flex.justify-content-center
                supervised-model-visualization
            p.fragment.text-center.alert.alert-primary Vorhergehende Problemfälle waren alle #[span.highlight Supervised Learning]!

