div.d-flex.justify-center
    img(src="assets/images/overfitting/model-complexity.png", style={height: "300px"}).img-fluid
ul
    li Model Komplexität <=>
    li Mehr Annahmen <=
    li Regularisierung <=
    li Mehr Features =>
    li Mehr Daten =>