.img-start-position {
  width: 200px;
  height: 200px;
  position: relative;
  top: 100px;
  left: 100px;
}
.img-end-position {
  width: 200px;
  height: 200px;
  position: relative;
  top: 200px;
  left: 200px;
}
