ng-template('#slides'='')
    section
        slide-with-header(header="{{problemTableOfContentLabel.REGRESSION.label}}")
            div
                p.fragment.fade-up Der Output ist eine kontinuierliche Grösse.
                p.fragment.fade-up Output-Space ist o-Dimensional (meistens 1-Dimensional)
                ul
                    li.fragment.fade-up Immobilien Verkaufspreis abschätzen
                    li.fragment.fade-up Immobilien Verkaufspreis
                div.fragment.fade-up.pt-5.d-flex.justify-content-center
                    model-visualization
                        div(input, class="input").transparent-border-1.code
                            | Fläche: 500m&#178;
                            | Baujahr: 1998
                        div(model, class="model").model-box Modell
                        div(output, class="output").fix-height.code
                            | 100'000$
    section
        slide-with-header(header="Für alle Inputs einen Output vorhersage")
            div.d-flex.justify-center
                img(src="/assets/images/regression/regression-example.png").img-fluid