$knowledge-width: 300;
$knowledge-height: 80;
$human-knowledge-offset: 0;
$data-knowledge-offset: 300;
$rect-offset: 100;
$rect-width: 200;
$rect-height: 100;
$model-offset-y: 250;

.animation-container {
  position: relative;
  height: calc(($model-offset-y + $rect-height) * 1px);
  width: calc(($data-knowledge-offset + $knowledge-width) * 1px);
}

.rect {
  font-size: 16pt;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc($rect-width * 1px);
  height: calc($rect-height * 1px);
}

.rect-knowledge {
  font-size: 24pt;
  width: calc($knowledge-width * 1px);
  height: calc($knowledge-height * 1px);

  &.rect-data-knowledge {
    left: calc($data-knowledge-offset * 1px);
  }

  &.rect-human-knowledge {
    transform-origin: top left;
    left: calc($human-knowledge-offset * 1px);
  }

}

.rect-data {
  color: white;
  left: calc(($data-knowledge-offset + ($knowledge-width - $rect-width) / 2) * 1px);
  top: calc(($rect-offset) * 1px);
}

.rect-human {
  color: white;
  left: calc(($human-knowledge-offset + ($knowledge-width - $rect-width) / 2) * 1px);
  top: calc(($rect-offset) * 1px);
}

.rect-model {
  border-radius: calc(($rect-width / 2) * 1px);
  left: calc((($human-knowledge-offset + $data-knowledge-offset) / 2 + $rect-width / 4) * 1px);
  top: calc($model-offset-y * 1px);
}

.model-start-styling {
  background: #FFFFFF;
  border: 1px solid black;
}