ng-template('#slides')
    section([id]="active?.href")
        ng-container(*ngIf='root')
            slide-with-header([header]="root.label.label")
                div.tf-tree
                    ul
                        li(tables-of-content-node, [entry]="root")
                ng-content
