ng-template('#slides'='')
    section
        slide-with-header(header="Data Science Pitfalls - Bias in Machine Learning")
            ul
                li
                    div Pre-existing
                    ul.smaller-font
                        li Historischer (oder aktueller) #[span.highlight Bias in den Daten]
                        li Bias in den Algorithmen, Problemstellung
                li
                    div #[span.highlight Technical], z.B.
                    ul.smaller-font
                        li Limitierte Rechenzeit
                        li Design: erste sichtbare Resultate vs. später sichtbare Resultate
                        li Verzerrte Zufallszahlengenerierung
                li
                    div Emergent
                    ul.smaller-font
                        li #[span.highlight Unpredictable correlations] z.B. Muster in den Daten lässt auf Demographie zurückführen (indirekter Pre-existing bias)
                        li #[span.highlight Feedback loops:] Maximizing click rates führt zu extremeren Inhalten (Conspiracy Theory), clickbait (Anpassung der Publishers an den Algorithmus)
    section
        slide-with-header(header="Pre-Existing: Amazon Bewerbungen")
            div Goal: Vorfiltern der Bewerbungen für einen Job
            hr
            .fragment
                ul
                    li Gelernt: #[span.highlight Pre-Existing Bias] gegen Frauen in Tech-Berufen
                    li.fragment Action: Entfernen des Geschlechts als Feature
                    li.fragment Gelernt: #[span.highlight Unpredictable correlations] ”all-women highschool", "women's chess club" negative features
                .fragment.mt-5.alert.alert-primary
                    | Amazon hat das Projekt eingestampft
    section
        slide-with-header(header="Emergent: Twitter cropping Algorithm")
            div Goal: "crop an image to an easily-viewable size"
            hr
            .fragment
                .mt-3
                    img(src="assets/images/data-science-pitfalls/bias-in-machine-learning/twitter-cropping-algorithm.png", height="450px")
                .mt-3.fragment
                    a(href="https://blog.twitter.com/engineering/en_us/topics/insights/2021/sharing-learnings-about-our-image-cropping-algorithm")
                        | Sharing learnings about our image cropping algorithm
    section
        slide-with-header(header="Feedback-Loop: Social Media")
            div.smaller-font Idee: Benutzer klicken, was sie mögen, also zeige Inhalte die Benutzer klickt!
            hr
            .fragment
                ul
                    li Gelernt: Benutzer klicken auf #[span.highlight extreme Inhalte] und #[span.highlight Inhalte, denen der Benutzer zustimmt].
                    li.fragment Anpassung der Publishers: Inhalte werden extremer, Clickbaits werden standard
                    li.fragment Anpassung der User: Einseitige Berichterstattung führt zu #[span.highlight Bubbles], andere Seite wird negative gesehen (#[span.highlight Spaltung der Gesellschaft])
    section
        slide-with-header(header="Pre-Existing: Bias in Word2Vec")
            h6.fragment Was wurde #[span.highlight auch] gelernt?
            ul.fragment
                li
                    pre.p-2.w-100
                        div.text-start.code Computer Programmer - Man + Woman ~ Homemaker
                        div.text-start.code surgeon - he + she ~ nurse
                        div.text-start.code football - he + she ~ volleyball
                        div.text-start.code burly - he + she ~ blond
                li.fragment "John" ist näher an "Programmierer" als "Mary"
            .fragment.mt-5.alert.alert-danger Word Embeddings lernen Pre-Existing Bias in Daten
            .fragment.mt-5 Paper: Man is to Computer Programmer as Woman is to Homemaker? Debiasing Word Embeddings
    section
        slide-with-header(header="Was tun gegen Bias in Machine Learning")
            ul
                li Bias entfernen im Dataset ist schwierig (wegen unpredictable correlations)
                li.fragment #[span.highlight Verstehen, dass es diesen Effekt geben kann]
                li.fragment Gewisse Probleme sollten allenfalls (noch) #[span.highlight nicht] mit Machine Learning automatisiert werden (z.B. zulässig für IV)
                li.fragment Bias in Machine Learning ist zurzeit ein #[span.highlight wachsendes Forschungsgebiet]
                li.fragment #[span.highlight Regularisierung] von Machine Learning Systemen wird kommen (ähnlich dem drei Phasen-Test für Medikamente nur in einer anderen Form)
