.rect-styling {
  width: 100%;
  height: 100%;
  font-size: 16pt;
  color: white;
  background: #5c6bc0;
  border: 1px solid #26418f;
  display: flex;
  justify-content: center;
  align-items: center;
}