div.tf-tree(*ngIf=rootNode != null)
    ul
        li(tables-of-content-node, [entry]="problemRootNode")

div.tf-tree(*ngIf=rootNode != null)
    ul
        li(tables-of-content-node, [entry]="methodRootNode")
