ng-template('#slides'='')
    section(id="{{problemTableOfContentLabel.CLASSIFICATION}}")
        slide-with-header(header="{{problemTableOfContentLabel.CLASSIFICATION}}")
            div
                p.fragment.fade-up Der Output besteht aus einer Menge von Klassen (Labels).
                ul
                    li.fragment.fade-up Identifikation von Spam-Emails
                    li.fragment.fade-up Objekterkennung in Bilder
                div.r-stack
                    div.fragment.fade-in-then-out('#parent'='')
                        ng-container(*ngIf="parent.className.includes('visible')")
                            supervised-model-visualization(input-label="Email", output-label="Spam")