ng-template('#slides'='')
    section
        slide-with-header(header="{{problemTableOfContentLabel.CLASSIFICATION.label}}")
            div
                p.fragment.fade-up Der Output besteht aus einer Menge von #[span.highlight Klassen].
                ul
                    li.fragment.fade-up Identifikation von Spam-Emails
                    li.fragment.fade-up Objekterkennung in Bilder
                .fragment
                    .mt-5.d-flex.justify-content-center
                        model-visualization("#spamModel"='', [with-trigger]="false")
                            div(input, class="input").transparent-border-1.code
                                p Guten Tag Herr Meyer...
                            div(model, class="model").model-box Modell
                            div(output, class="output").fix-height.transparent-border-1.code
                                p Not Spam
                    .mt-5.d-flex.justify-content-center
                        model-visualization("#nonSpamModel"='', [with-trigger]="false")
                            div(input, class="input").transparent-border-1.code
                                p GLÜCKWUNSCH HERR INFO...
                            div(model, class="model").model-box Modell
                            div(output, class="output").fix-height.transparent-border-1.code
                                p Spam
                span.fragment(fragment-trigger, "(trigger)"="spamModel.start(); nonSpamModel.start()", "(untrigger)"="spamModel.end(); nonSpamModel.end()")
    section
        slide-with-header(header="Für alle Inputs einen Output vorhersage")
            div.d-flex.justify-center
                img(src="assets/images/classification/classification-example.png").img-fluid

