.grid2x2 {

  width: 650px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;

  & > * {
    width: 250px;
    height: auto;
  }

}