div.d-flex.justify-center
    div.grid2x2
        h6 Possible
        h6 Impossible (in Feature Space)
        div.r1c1
            ng-content(select="[r1c1]")
        div.r1c2
            ng-content(select="[r1c2]")
        div.r2c1
            ng-content(select="[r2c1]")
        div.r2c2
            ng-content(select="[r2c2]")