.slide-header {
  height: 75px;

  h1 {
    font-size: 36px;
    clear: both;
  }

  .extra-stamp {
    position: relative;
    top: -100px;
    right: 500px;

    img {
      width: auto;
      padding-top: 10px;
      height: 75px;
    }
  }
}

.slide-body {
  height: 600px;
}