.slide-header
    h1 {{header}}
    ng-container(*ngIf="extra")
        .extra-stamp
            img(src="/assets/images/layout/extra-stamp.png").img-fluid
    ng-container(*ngIf="repetition")
        .extra-stamp
            img(src="/assets/images/layout/repeat-stamp.jpg", style={width: "200px"}).img-fluid
.slide-body
    ng-content
