reveal-presentation
    section
        question-slide
    section
        tables-of-content([activeProblem]="problemLabels.SUPERVISED_PROBLEM", [activeMethod]="methodLabels.MODEL")
    section
        tables-of-content([activeProblem]="problemLabels.REGRESSION", [activeMethod]="methodLabels.OPTIMIERUNG")
    section(what-is-machine-learning)
    section
        tables-of-content([activeProblem]="problemLabels.CLASSIFICATION", [activeMethod]="methodLabels.MODEL")
    section
        tables-of-content([activeProblem]="problemLabels.UNSUPERVISED_LEARNING", [activeMethod]="methodLabels.MODEL")