doctype html
reveal-presentation

    about-me
    what-is-machine-learning
    tables-of-content-problems([active]="problemLabels.SUPERVISED_LEARNING")
    what-is-supervised-learning
    tables-of-content-problems([active]="problemLabels.REGRESSION")
    what-is-regression
    linear-regression
    question-slide([questions]="[]")
    tables-of-content-concepts([active]="methodLabels.ENCODING")
    what-is-encoding
    tables-of-content-concepts([active]="methodLabels.FEATURE_ENGINEERING_EXPLICIT")
    what-is-feature-engineering
    polynomial-regression
    question-slide([questions]="[]")
    section
        div.fragment.text-center.alert.alert-danger.strike Ist die Polynomielle Regression immer besser als die Lineare Regression?
        div.fragment.text-center.alert.alert-success
            div Ja auf den #[span.highlight Trainings-Daten], aber Nein (nicht immer) #[span.highlight auf neuen, ungesehenen Daten]!
            div.fragment.highlight Und Performanz auf neuen, ungesehenen Daten ist das Entscheidende!
    tables-of-content-concepts([active]="methodLabels.MODEL_COMPLEXITY")
    overfitting-underfitting-example
    tables-of-content-concepts([active]="methodLabels.OVERFITTING_UNDERFITTING")
    what-is-overfitting-underfitting
    what-is-train-test-split
    tables-of-content-concepts([active]="methodLabels.CROSS_VALIDATION")
    what-is-cross-validation
    model-complexity-slide
    question-slide([questions]="modelComplexityQuestions")
    what-is-feature-selection
    section
        slide-with-header(header="Übungszeit (30 Minuten)")
            div.notebook-name exercise/introduction.ipynb
            img(src="assets/images/code.png")
    tables-of-content-problems([active]="problemLabels.CLASSIFICATION")
    what-is-classification
    logistic-regression
    question-slide([questions]="logisticRegressionQuestions")
    k-nearest-neighbours
    tables-of-content-problems([active]="problemLabels.UNSUPERVISED_LEARNING")
    tables-of-content-problems([active]="problemLabels.CLUSTERING")
    what-is-clustering
    k-means
    data-science-pitfalls-garbage-in-garbage-out
    section
        slide-with-header(header="Übungszeit (60 Minuten)")
            div.notebook-name exercise/linear_regression.ipynb
            img(src="assets/images/code.png")