doctype html
reveal-presentation

    // tables-of-content-concepts([depth]=99)
    // tables-of-content-problems([depth]=99)
    section
        title-page
            h1 Machine Learning
            img.mt-5(src="assets/images/logo/fhnw/fhnw_logo.png" width="200px")
    // DAY 1
    day1-title-slide
    about-me
    what-is-machine-learning
    tables-of-content-problems([active]="problemLabels.SUPERVISED_LEARNING")
    what-is-supervised-learning
    tables-of-content-problems([active]="problemLabels.REGRESSION")
    what-is-regression
    linear-regression
    question-slide([questions]="linearRegressionQuestions")
    section
        slide-with-header(header="Übungszeit (30 Minuten)")
            div.notebook-name exercise/introduction.ipynb
            img(src="assets/images/code.png")
    tables-of-content-concepts([active]="methodLabels.ENCODING")
    what-is-encoding
    question-slide([questions]="encodingQuestions")
    section
        slide-with-header(header="Linear Regression - Code")
            div.notebook-name linear_regression_categorical_feature.ipynb
            img(src="assets/images/code.png")
    tables-of-content-concepts([active]="methodLabels.FEATURE_ENGINEERING_EXPLICIT")
    what-is-feature-engineering
    question-slide([questions]="featureEngineeringQuestions")
    polynomial-regression
    section
        div.fragment.text-center.alert.alert-danger.strike Ist die Polynomielle Regression immer besser als die Lineare Regression?
        div.fragment.text-center.alert.alert-success
            div Ja auf den #[span.highlight Trainings-Daten], aber Nein (nicht immer) #[span.highlight auf neuen, ungesehenen Daten]!
        div.fragment.text-center.alert.alert-warning
            div Und Performanz auf #[span.highlight neuen, ungesehenen] Daten ist das Entscheidende!
    tables-of-content-concepts([active]="methodLabels.MODEL_COMPLEXITY")
    overfitting-underfitting-example
    tables-of-content-concepts([active]="methodLabels.OVERFITTING_UNDERFITTING")
    what-is-overfitting-underfitting
    tables-of-content-concepts([active]="methodLabels.CROSS_VALIDATION")
    what-is-cross-validation
    model-complexity-slide
    question-slide([questions]="modelComplexityQuestions")
    what-is-feature-selection
    tables-of-content-concepts([active]="methodLabels.REGULARIZATION")
    what-is-regularization
    what-is-standardization
    question-slide([questions]="regularizationAndStandardizationQuestions")
    what-are-hyper-parameters
    question-slide([questions]="[]")
    data-science-pitfalls-tackle-a-problem
    data-science-pitfalls-garbage-in-garbage-out
    section
        slide-with-header(header="Übungszeit (60 Minuten)")
            div.notebook-name exercise/linear_regression.ipynb
            img(src="assets/images/code.png")

    // DAY 2
    day2-title-slide
    tables-of-content-problems([active]="problemLabels.CLASSIFICATION")
    what-is-classification
    logistic-regression
    question-slide([questions]="logisticRegressionQuestions")
    k-nearest-neighbours
    support-vector-machine
    question-slide([questions]="supportVectorMachineQuestions")
    section
        slide-with-header(header="Übungszeit (60 Minuten)")
            div.notebook-name exercise/classification.ipynb
            img(src="assets/images/code.png")
    what-is-kernel-trick
    cart
    question-slide([questions]="cartQuestions")
    data-science-pitfalls-data-leakage
    data-science-pitfalls-model-development
    data-science-pitfalls-inconsistent-preprocessing
    data-science-pitfalls-metric-choice
    section
        slide-with-header(header="Übungszeit (Weitere 60 Minuten)")
            div.notebook-name exercise/classification.ipynb
            img(src="assets/images/code.png")

    // DAY 3
    day3-title-slide
    tables-of-content-problems([active]="problemLabels.UNSUPERVISED_LEARNING")
    tables-of-content-problems([active]="problemLabels.CLUSTERING")
    what-is-clustering
    k-means
    clustering-additional

    tables-of-content-problems([active]="problemLabels.DIMENSIONALITY_REDUCTION")
    what-is-dimensionality-reduction
    pca
    section
        slide-with-header(header="PCA - Code")
            div.notebook-name pca.ipynb
            img(src="assets/images/code.png")
    nmf
    question-slide([questions]="pcaQuestions")
    data-science-pitfalls-model-choice
    data-science-pitfalls-enough-data
    data-science-pitfalls-correct-result-interpretation
    section
        slide-with-header(header="Übungszeit (120 Minuten)")
            div.notebook-name exercise/dimensionality_reduction.ipynb
            img(src="assets/images/code.png")

    // DAY 4
    day4-title-slide
    what-is-deep-learning
    feed-forward-neural-network
    section
        slide-with-header(header="Feedforward Neural Network - Code")
            div.notebook-name neural_network.ipynb
            img(src="assets/images/code.png")
    question-slide([questions]="nnQuestions")
    section
        slide-with-header(header="Übungszeit (60 Minuten)")
            div.notebook-name exercise/neural_network.ipynb
            img(src="assets/images/code.png")
    auto-encoder
    neural-network-architecture-examples
    word-2-vec
    data-science-pitfalls-bias-in-machine-learning
    section
        slide-with-header(header="Data Science - Zukunft")
            h6 Heute
            ul.w-100
                li Modelle auf Train-Set trainieren etc.
                hr
            h6.fragment Zukunft / Heute
            ul.fragment.w-100
                li #[span.highlight Foundation models] (BERT, GPT-4, SAM) mit few/zero-shot-learning oder Teil eines #[span.highlight eigenen Modells] mittels Transfer Learning
                li #[span.highlight AutoML]: "Entwickler mit geringem ML-Fachwissen qualitativ hochwertige Modelle trainieren"
            .mt-5.fragment.alert.alert-warning Zukunft ungewiss
    section
        slide-with-header(header="Übungszeit (60 Minuten)")
            div.notebook-name exercise/neural_network.ipynb
            img(src="assets/images/code.png")
    section
        slide-with-header(header="Prüfungsfragen - Beispiele")
            div.notebook-name example-exam-questions.ipynb
            img.mt-5(src="assets/images/test-questions.png")
    section
        slide-with-header(header="Tipps fürs lernen")
            ul
                li CTRL+SHIFT+F für durchsuchen der Folien
                li Hyperlinks in Folien
                hr
                li Videos auf YouTube
                    span &nbsp;
                    a(href="https://www.youtube.com/watch?v=oSJCmEkrWGg&list=PLqjhOTGpIk7whJpmf4u808Vi44xFDY0mq", target="_blank") (Testlauf)
                li Andere Quellen beziehen
                    ul.smaller-font
                        li sklearn User Guide
                        li Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow
    tables-of-content-problems([depth]=99, [title]="'Gelernte Machine Learning Probleme'")
    tables-of-content-concepts([depth]=99, [title]="'Gelernte Machine Learning Konzepte'")
    section
        title-page
            h1 Evaluation
    // section
    //     slide-with-header(header="Linear Regression - Wissens Ansicht")
    //         div
    //             p.fragment Wissen kann von #[span.highlight Experten] oder aus #[span.highlight Daten] kommen
    //         div.d-flex.justify-center
    //             knowledge-view("#knowledgeView"="", human-label="Lineares Modell, MSE", [tradeoff]="0.9" ).fragment
    //         span.fragment(fragment-trigger, (trigger)="knowledgeView.start()", (untrigger)="knowledgeView.end()")
    // section
    //     div §: NMF?