doctype html
reveal-presentation
    what-is-machine-learning
    section
        tables-of-content
    section
        tables-of-content([activeProblem]="problemLabels.SUPERVISED_PROBLEM")
    what-is-supervised-learning
    section
        tables-of-content([activeProblem]="problemLabels.REGRESSION")
    what-is-regression
    section
        tables-of-content([activeProblem]="problemLabels.CLASSIFICATION")
    what-is-classification
    section
        slide-with-header(header="Begriffe")
            space-term-explanation
    section
        tables-of-content([activeProblem]="problemLabels.REGRESSION", [activeMethod]="methodLabels.LINEAR_REGRESSION")
    linear-regression
    question-slide([questions]="linearRegressionQuestions")
    section
        tables-of-content([activeProblem]="problemLabels.CLASSIFICATION")
    what-is-classification
    section
        tables-of-content([activeProblem]="problemLabels.CLASSIFICATION", [activeMethod]="methodLabels.MODEL")
    section
        tables-of-content([activeProblem]="problemLabels.UNSUPERVISED_LEARNING", [activeMethod]="methodLabels.MODEL")