doctype html
reveal-presentation
    section
        slide-with-header(header="Presentation Style")
            stair-slide
                div(first)
                    h3 Intuition
                    img(src="/assets/images/intuition.png").img-fluid
                div(second)
                    h3 Code
                    img(src="/assets/images/code.png").img-fluid
                div(third)
                    h3 Theory
                    img(src="/assets/images/theory.png").img-fluid
    what-is-machine-learning
    section
        tables-of-content
    section
        tables-of-content([activeProblem]="problemLabels.SUPERVISED_PROBLEM")
    what-is-supervised-learning
    section
        tables-of-content([activeProblem]="problemLabels.REGRESSION")
    what-is-regression
    section
        slide-with-header(header="Begriffe")
            space-term-explanation
    section
        tables-of-content([activeProblem]="problemLabels.REGRESSION", [activeMethod]="methodLabels.LINEAR_REGRESSION")
    linear-regression
    question-slide([questions]="linearRegressionQuestions")
    section
        tables-of-content([activeProblem]="problemLabels.CLASSIFICATION")
    what-is-classification
    section
        tables-of-content([activeProblem]="problemLabels.REGRESSION", [activeMethod]="methodLabels.OPTIMIERUNG")
    section
        tables-of-content([activeProblem]="problemLabels.CLASSIFICATION", [activeMethod]="methodLabels.MODEL")
    section
        tables-of-content([activeProblem]="problemLabels.UNSUPERVISED_LEARNING", [activeMethod]="methodLabels.MODEL")