ng-template('#slides'='')
    section
        slide-with-header(header="k-Fold Cross Validation")
            div.d-flex.justify-center
                img(src="assets/images/overfitting/k-fold-cross-validation.png").img-fluid
            div.mt-3.text-center.alert.alert-primary Hier 5-Fold Cross Validation