ng-template('#slides'='')
    tables-of-content-logistic-regression([active]="logisticRegressionLabel.LOGISTIC_REGRESSION")
        div.mt-5.fragment.text-center.alert.alert-warning Logistic Regression macht #[span.highlight keine Regression], sondern eine #[span.highlight Klassifikation]!
    tables-of-content-logistic-regression([active]="logisticRegressionLabel.DATA_SPECIFICATION")
    section
        slide-with-header(header="Logistic Regression - Data Specification")
            ol
                li.fragment Was ist die #[span.highlight kategorische Ziel-Variable], z.B. #[span.code-font name]
                li.fragment Welche #[span.highlight Features] wählen wir, z.B. um eine Blume zu repräsentieren (#[span.code-font petal-length (cm), petal-width (cm), ...])
                li.fragment
                    data-specification-element-categorical-feature-encoded
                li.fragment
                    span Wenn Regularisiert (default):&nbsp;
                    data-specification-element-numerical-feature-standardize
    tables-of-content-logistic-regression([active]="logisticRegressionLabel.MODEL")
    section
        slide-with-header(header="Logistic Regression - Intuition")
            ol
                li.fragment #[span.highlight Modifikation]: lineares Modell ändern, dass Output #[span.highlight zwischen 0 und 1] liegt.
                li.fragment #[span.highlight Interpretation]: Output als #[span.highlight Wahrscheinlichkeit] für eine von zwei Klassen interpretieren.
    section
        slide-with-header(header="Logistic Regression - Intuition")
            ol
                li.highlight-step #[span.highlight Modifikation]: lineares Modell ändern, dass Output #[span.highlight zwischen 0 und 1] liegt.
                li.unhighlight-step #[span.highlight Interpretation]: Output als #[span.highlight Wahrscheinlichkeit] für eine von zwei Klassen interpretieren.
                div.mt-5.row
                    div.col-6.fragment
                        div([mathjax]="sigmoid")
                    div.col-6.fragment
                        img(src="assets/images/classification/sigmoid.png").img-fluid
                div.row
                    div.col-12.fragment
                        div([mathjax]="logisticRegression1D")
    section
        slide-with-header(header="Logistic Regression - Intuition")
            ol
                li.unhighlight-step #[span.highlight Modifikation]: lineares Modell ändern, dass Output #[span.highlight zwischen 0 und 1] liegt.
                li.highlight-step #[span.highlight Interpretation]: Output als #[span.highlight Wahrscheinlichkeit] für eine von zwei Klassen interpretieren.
                div.mt-5.fragment([mathjax]="logisticRegressionLikelihood")
                div.mt-5.fragment([mathjax]="modeModel")
    section
        slide-with-header(header="Logistische Regression - Intuition")
            p Beispiel: Ob #[span.highlight Setosa] Blumenart anhand 2 Features (#[span.code-font petal-length, petal-width]).
            .row
                .col-6
                    div.r-stack
                        img(src="assets/images/classification/example-data-only.png", data-fragment-index="0").fragment
                        img(src="assets/images/classification/example-data-with-model.png", data-fragment-index="2").fragment
                .col-6
                    .fragment(data-fragment-index="1") Dazu verwenden wir das folgende #[span.highlight Modell]
                        div([mathjax]="logisticRegression2D")
            div.d-flex.justify-content-center.fragment
                model-visualization
                    div(input, class="input").transparent-border-1.code
                        div petal-length: 1.5cm
                        div petal-width: 0.25cm
                    div(model, class="model").model-box.code
                        div([mathjax]="logisticRegression2D")
                    div(output, class="output").fix-height.code
                        | #[span.highlight-seaborn-1 Setosa]: 99%
    section
        slide-with-header(header="Logistic Regression - Mehrere Features", [extra]="true")
            side-by-side-3
                div(first).d-flex.flex-column
                    h3 1 Feature
                    div([mathjax]="logisticRegression1D", style={fontSize: "14pt"})
                    img(src="assets/images/classification/example-data-with-model-1d.png").fragment
                div(second).d-flex.flex-column
                    h3 2 Feature
                    div([mathjax]="logisticRegression2D", style={fontSize: "14pt"})
                    img(src="assets/images/classification/example-data-with-model.png")
                div(third).d-flex.flex-column
                    h3 3 Feature
                    div([mathjax]="logisticRegression3D", style={fontSize: "14pt"})
                    img(src="assets/images/classification/example-data-with-model-3d.gif").fragment
    tables-of-content-concepts([active]="conceptLabels.CLASSIFICATION_METRICS")
    section
        slide-with-header(header="Classification - Fehler eines Modells messen?")
            ul
                li Was für Fälle sind möglich pro Datenpunkt? Bei z.B. Spam / Nicht Spam?
                    ul.mt-5(style={fontSize: "18pt"}).fragment
                        li.row
                            div.col-4 Modell: #[span.text-success Spam]
                            div.col-4 Wahrheit: #[span.text-success Spam]
                            div.col-4.fragment #[span.code-font True Positive]
                        li.row
                            div.col-4 Modell: #[span.text-danger Not Spam]
                            div.col-4 Wahrheit: #[span.text-danger Not Spam]
                            div.col-4.fragment #[span.code-font True Negative]
                        li.row
                            div.col-4 Modell: #[span.text-success Spam]
                            div.col-4 Wahrheit: #[span.text-danger Not Spam]
                            div.col-4.fragment #[span.code-font False Positive]
                        li.row
                            div.col-4 Modell: #[span.text-danger Not Spam]
                            div.col-4 Wahrheit: #[span.text-success Spam]
                            div.col-4.fragment #[span.code-font False Negative]
            div.mt-5.row.fragment.text-center.alert.alert-primary
                div #[span.highlight Unterscheidung wichtig], Beispiel Corona-Test:
                div #[span.code-font False Positive] => unnötige Quarantäne
                div #[span.code-font False Negative] => Virus verbreitet sich
    section
        slide-with-header(header="Classification - Fehler eines Modells messen?")
            ul
                li Was für Fälle sind möglich pro Datenpunkt? Bei Setosa / Versicolor / Virginica
                    ul.mt-5(style={fontSize: "18pt"})
                        li.row
                            div.col-4 Modell: #[span.text-setosa Setosa]
                            div.col-4 Wahrheit: #[span.text-setosa Setosa]
                        li.row
                            div.col-4 Modell: #[span.text-versicolor Versicolor]
                            div.col-4 Wahrheit: #[span.text-versicolor Versicolor]
                        li.row
                            div.col-4 Modell: #[span.text-virginica Virginica]
                            div.col-4 Wahrheit: #[span.text-virginica Virginica]
                        li.row
                            div.col-4 Modell: #[span.text-setosa Setosa]
                            div.col-4 Wahrheit: #[span.text-versicolor Versicolor]
                        li.row
                            div.col-4 Modell: #[span.text-setosa Setosa]
                            div.col-4 Wahrheit: #[span.text-virginica Virginica]
                        li.row
                            div.col-4 Modell: #[span.text-virginica Virginica]
                            div.col-4 Wahrheit: #[span.text-setosa Setosa]
                        li.row
                            div.col-4 Modell: #[span.text-virginica Virginica]
                            div.col-4 Wahrheit: #[span.text-versicolor Versicolor]
                        li.row
                            div.col-4 Modell: #[span.text-versicolor Versicolor]
                            div.col-4 Wahrheit: #[span.text-setosa Setosa]
                        li.row
                            div.col-4 Modell: #[span.text-versicolor Versicolor]
                            div.col-4 Wahrheit: #[span.text-virginica Virginica]
    section
        slide-with-header(header="Classification - Confusion Matrix")
            div.fragment.d-flex.justify-center
                img(src="assets/images/classification/confusion_matrix.png")
            p.fragment.text-center.alert.alert-primary #[span.highlight Confusion Matrix] zeigt die Fehler #[span.highlight pro Datenpunkt]!
    section
        slide-with-header(header="Classification - Metrik - Beispiele")
            .mt-2.row.fragment
                .col-3.highlight Accuracy
                .col-3 Binär:
                .col-5([mathjax]="metricAccuracyBinary")
            .mt-2.row.fragment
                .col-3
                .col-3 Generell:
                .col-5([mathjax]="metricAccuracy")
            p.fragment.text-center.alert.alert-primary Accuracy wird oft verwendet.
            .fragment.text-center.alert.alert-warning
                div Accuracy ist #[span.highlight irreführend] bei #[span.highlight inbalanced] Klassen
    section
        slide-with-header(header="Classification - Metrik - Beispiele")
            .mt-2.row.fragment
                .col-3.highlight Precision
                .col-3 Binär:
                .col-5([mathjax]="metricRecallBinary")
            .mt-2.row.fragment
                .col-3.highlight Recall
                .col-3 Binär:
                .col-5([mathjax]="metricPrecisionBinary")
            .mt-2.row.fragment
                .col-3.highlight F1-Score
                .col-3 Binär:
                .col-5([mathjax]="metricF1Binary")
            .fragment.text-center.alert.alert-primary
                div F1 ist #[span.highlight geeignet] bei #[span.highlight inbalanced] Klassen, wenn Anzahl neagative Beispiele >> Anzahl positive Beispiele
    section
        slide-with-header(header="Classification - Metrik - Beispiele")
            binary-classification-metric-example
    section
        slide-with-header(header="Classification - Metrik - Beispiel für F1-Score")
            binary-classification-metric-example([tp]="1", [fp]="1", [fn]="1", [tn]="99")
    tables-of-content-logistic-regression([active]="logisticRegressionLabel.COST_FUNCTION")
    section
        slide-with-header(header="Cost function - Maximum Likelihood")
            div Bei der #[span.highlight Logistic Regression] gibt das Modell eine #[span.highlight Wahrscheinlichkeit] für eine Klasse (Likelihood).
            div Mit dieser können wir eine #[span.highlight spezielle Kostenfunktion] erstellen, die #[span.highlight Maximum Likelihood]:
            div.fragment.mt-5([mathjax]="logisticRegressionNDVector")
            div.fragment.mt-5([mathjax]="metricLikelihood")
    tables-of-content-logistic-regression([active]="logisticRegressionLabel.OPTIMIERUNG")
    section
        slide-with-header(header="Logistic Regression Optimierung - Gradient Descent")
            div Idee: #[a(href="#/{{conceptLabels.GRADIENT_DESCENT.href}}").highlight Gradient Descent] anwenden auf der Maximum Likelihood Kostenfunktion
            div.d-flex.justify-center
                img(src="assets/images/classification/gradient_descent.gif")
            div.mt-5.fragment.text-center.alert.alert-primary #[span.highlight Andere] Verfahren (z.B. Coordinate Descent) möglich
    section
        slide-with-header(header="Logistic Regression Optimierung", [extra]="true")
            div.fragment
                div In der Praxis muss man noch folgendes machen:
                ol
                    li #[span.highlight Konvention] Minimize statt Maximize: Negieren
                    li #[span.highlight Numerische Stabilität]: Logarithmus nehmen
                div.fragment.mt-5([mathjax]="metricLikelihood", style={fontSize: "22pt"})
    section
        slide-with-header(header="Logistic Regression Optimierung", [extra]="true")
            div
                div In der Praxis muss man noch folgendes machen:
                ol
                    li.highlight-step #[span.highlight Konvention] Minimize statt Maximize: Negieren
                    li.unhighlight-step #[span.highlight Numerische Stabilität]: Logarithmus nehmen
                div
                div.mt-5([mathjax]="metricLikelihood", style={fontSize: "22pt"})
                div.fragment.mt-5([mathjax]="metricNegativeLogLikelihoodNegate", style={fontSize: "22pt"})
                div.fragment.mt-5.text-center.alert.alert-warning Nur Konvention!
    section
        slide-with-header(header="Logistic Regression Optimierung", [extra]="true")
            div
                div In der Praxis muss man noch folgendes machen:
                ol
                    li.unhighlight-step #[span.highlight Konvention] Minimize statt Maximize: Negieren
                    li.highlight-step #[span.highlight Numerische Stabilität]: Logarithmus nehmen
                div.mt-5([mathjax]="metricNegativeLogLikelihoodNegate", style={fontSize: "22pt"})
                div.fragment.mt-5([mathjax]="metricNegativeLogLikelihoodLog", style={fontSize: "22pt"})
            div.fragment.mt-5.text-center.alert.alert-primary "Nur" notwendig wegen #[span.highlight Floating Point Precision]!
    section
        slide-with-header(header="Logistic Regression - Mehrere Klassen - Softmax")
            ul
                li.fragment
                    | Sigmoid (
                    span(mathjax="<math><mi>ϕ</mi></math>")
                    | ) gibt uns für den #[span.highlight Beweis einer Klasse], die #[span.highlight Wahrscheinlichkeit] für diese Klasse.
                li.fragment
                    div Softmax gibt uns für #[span.highlight Beweise] für #[span.highlight mehrere Klassen], die #[span.highlight Wahrscheinlichkeiten] der Klassen.
                div.fragment([mathjax]="softmax")
                div.fragment.mt-5
                    softmax-3-example([i1]="-2", [i2]="5", [i3]="1")
    section
        slide-with-header(header="Logistic Regression - 3 Klassen", [extra]="true")
            ul
                li.fragment #[span.highlight 3 eigene Lineare Modelle] (3 Outputs = 3 Beweise)
                li.fragment 3 Outputs zu 3 Wahrscheinlichkeiten (#[span.highlight Softmax])
                li.fragment Weiterhin Maximum Likelihood als Cost Function (#[span.highlight Cross-Entropy])
            div.fragment.mt-5.text-center.alert.alert-primary 3 Linearen Modelle werden zusammen trainiert
    section
        slide-with-header(header="Logistic Regression - Code")
            div.notebook-name logistic_regression.ipynb
            img(src="assets/images/code.png")
    section
        slide-with-header(header="Logistic Regression - Limits", [extra]="true")
            div.row
                div.col-5.offset-1
                    h6 Possible
                div.col-5
                    h6 Impossible (in Feature Space)
                div.col-1

            div.row.fragment
                div.col-1.m-auto
                    h6(style={transform: "rotate(-90deg)", whiteSpace: 'nowrap'}) 2 Features
                div.col-5.p-2
                    img(src="assets/images/classification/example-data-with-model-2d-possible.png").limit-possible
                div.col-5.p-2
                    img(src="assets/images/classification/example-data-with-model-2d-limit.png").limit-impossible
                div.col-1
            div.row.fragment
                div.col-1.m-auto
                    h6(style={transform: "rotate(-90deg)", whiteSpace: 'nowrap'}) 1 Feature
                div.col-5.p-2
                    img(src="assets/images/classification/example-data-with-model-1d-possible.png").limit-possible
                div.col-5.p-2
                    img(src="assets/images/classification/example-data-with-model-1d-limit.png").limit-impossible
                div.col-1
    section
        slide-with-header(header="Alternative & Additional Resources", [extra]="true").smaller-font
            ul
                li
                    div [Alternative] Logistic Regression
                        ul
                            li
                                a(href="https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression") sklearn User Guide
                    hr
                    div [Additional]
                        ul
                            li
                                a(href="https://www.youtube.com/watch?v=ytbYRIN0N4g") Video: Softmax Function Explained In Depth with 3D Visuals
    tables-of-content-logistic-regression
        div.mt-5.row
            div.col-6
                div.d-flex.justify-center
                    img(src="assets/images/classification/sigmoid.png", style={height: "150px"}).img-fluid
            div.col-6.mt-5
                div.d-flex.justify-center.scale-05
                    div([mathjax]="logisticRegressionND")
            div.col-6.mt-5
                div.d-flex.justify-center.scale-05
                    div([mathjax]="metricLikelihood")
            div.col-6
                div.d-flex.justify-center
                    img(src="assets/images/classification/gradient_descent.gif", style={height: "150px"}).img-fluid
