ng-template('#slides'='')
    section
        div
            h3 Train-Set / Validation-Set
                div.d-flex.justify-center
                    img(src="assets/images/overfitting/train_set_test_set.png").img-
        div.mt-5.fragment
            h3 Train-Set / Validation-Set / Test-Set
                div.d-flex.justify-center
                    img(src="assets/images/overfitting/train_set_val_set_test_set.png").img-fluid
