ng-template('#slides'='')
    data-science-pitfalls-model-choice
    data-science-pitfalls-tackle-a-problem
    data-science-pitfalls-garbage-in-garbage-out
    data-science-pitfalls-model-development
    data-science-pitfalls-inconsistent-preprocessing
    data-science-pitfalls-metric-choice
    data-science-pitfalls-enough-data
    data-science-pitfalls-data-leakage
    data-science-pitfalls-correct-result-interpretation


