ng-template('#slides'='')
    section
        ul
            li Inconsistent preprocessing
            li Data leakage
    section
        slide-with-header(header="Data Science Pitfalls")
            h4 2.1 Do take the time to understand your data
            div

