ng-template('#slides'='')
    section
        slide-with-header(header="Model-Komplexit채t und Performanz - Bild")
            div.d-flex.justify-center
                img(src="assets/images/model-complexity/model-complexity.png", style={height: "300px"}).img-fluid
            div.mt-5.fragment.text-center.alert.alert-warning Vereinfachung der Realit채t! Nur Grundidee.
    section
        slide-with-header(header="Model-Komplexit채t und Performanz - Tool")
            model-complexity
            div.mt-5.fragment.text-center.alert.alert-warning Vereinfachung der Realit채t! Nur Grundidee.