.reveal img {
  margin: 0;
  padding: 0;
}

.reveal img, .reveal video, .reveal iframe {
  max-width: 100%;
  max-height: 100%;
}

.katex-display {
  display: inherit !important; // FIXME why is important needed here? import should be later...
}