.notebook-name {
  font-family: "Lucida Console", "Courier New", monospace;
}

.highlight {
  color: #dc3545 !important;
}

.data-concept-styling {
  background: white;
  border: 1px solid #26418f;
}

.human-concept-styling {
  background: white;
  border: 1px solid #26418f;
}

.data-styling {
  background: #5c6bc0;
  border: 1px solid #26418f;
}

.human-styling {
  background: #5c6bc0;
  border: 1px solid #26418f;
}

.model-styling {
  background: #ffc046;
  border: 1px solid #ff8f00;
}
