.notebook-name, .code {
  font-family: "Lucida Console", "Courier New", monospace;
}

.highlight {
  color: #dc3545 !important;
}

.data-concept-styling {
  background: white;
  border: 1px solid #26418f;
}

.human-concept-styling {
  background: white;
  border: 1px solid #26418f;
}

.data-styling {
  background: #5c6bc0;
  border: 1px solid #26418f;
}

.human-styling {
  background: #5c6bc0;
  border: 1px solid #26418f;
}

.model-styling {
  padding: 15px 15px;
  color: white;
  vertical-align: 50%;
  background: #ffc046;
  font-size: 10pt;
  border: 1px solid #ff8f00;
}

.model-box {
  @extend .model-styling;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
}

.transparent-border-1 {
  border-width: 1px;
  border-color: rgba(0, 0, 0, .0);;
  border-style: solid;
}

.img-fluid-both {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.equation-colored {
  .residual {
    color: #d62728;
  }
  .label {
    color: #1f77b4;
  }
  .noise {
    color: orangered;
  }
  .output {
    color: #ff7f0e;
  }
  .weight {
    color: blue;
  }
  .feature {
    color: green;
  }
}

.limit-possible {
  border: 5px solid green;
}

.limit-impossible {
  border: 5px solid red;
}